name: Build and Release
on:
    push:
        tags:
            - "*"
            - "**"

permissions:
    contents: write

jobs:
    build-and-release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
              with:
                submodules: recursive
            - uses: actions/setup-python@v6
              with:
                python-version: "3.13"
            - run: pip install -r requirements.txt
            - run: python build.py --version ${{ github.ref_name }} --hash ${{ github.sha }} --mirror
            - uses: softprops/action-gh-release@v2
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: ${{ github.ref_name }}
                  name: Release ${{ github.ref_name }}
                  draft: false
                  prerelease: false
                  files: |
                    ./build/mega_pc_${{ github.ref_name }}_SOURCE.gds
                    ./build/mega_pc_${{ github.ref_name }}_BUILD.gds
                    ./build/mega_pc_${{ github.ref_name }}_BUILD_ASML_0.gds
                    ./build/mega_pc_${{ github.ref_name }}_BUILD_ASML_1.gds
                    ./build/mega_pc_${{ github.ref_name }}_BUILD_ASML_PLACEMENTS.txt
                    ./build/mega_pc_${{ github.ref_name }}_BUILD_ASML_0_MIRROR.gds
                    ./build/mega_pc_${{ github.ref_name }}_BUILD_ASML_1_MIRROR.gds
